{{ 'promo-header.css' | asset_url | stylesheet_tag }}

<div class="promo-header-container full-width">
  <div class="promo-header">
    {% if request.locale.name == "English" %}
       <h1>English{{section.blocks[0].title }}</h1>
    	<h1>{{section.block.settings.background_image | img_url: "master"}}</h1>
        {% for block in section.blocks %}
          {{block.settings.en_bts_line1}}
      	{% endfor %}
    {% else %}
       <h1>French{{section.block.settings.fr_bts_line1}}</h1>    	
    	
    {% endif %}
  </div>
</div>
<!-- section.settings.background_image -->

<style>
  .promo-header-container {
	height: 40rem;
	background-color: {{section.blocks[1].settings.background_color}};
    {% if section.block.settings.background_image %} 
    	background-image: url({{section.block.settings.background_image | img_url: "master"}});
    {% else %}
    
    {% endif %}
	background-size: cover;
	background-position: center;
  }
/*   var(--color-foreground) */
</style>

<script>

console.log( {{section.blocks}});

</script>


{% schema %}
  {
    "name": "Promo Header",
  	"max_blocks": 1,
    "settings": [  
		
	],
    "blocks": [
      {        
		"type": "BTS",
        "name": "Back to School",
        "settings": [
          {
            "id": "background_image",
            "type": "image_picker",
            "label": "Pick a background image"
          },
          {
            "id": "background_color",
            "type": "color",
            "label": "Pick a background color",
            "default": "#135c81"
          },
          {
            "id": "en_bts_line1",
            "type": "text",
            "label": "EN Line1",
			"default": "HOT"
          },
          {
            "id": "en_bts_line2",
            "type": "text",
            "label": "EN Line2",
			"default": "DEAL"
          },
          {
            "id": "en_bts_line3",
            "type": "text",
            "label": "EN Line3",
			"default": "S"
          },
          {
            "id": "en_bts_line4",
            "type": "text",
            "label": "EN Line4",
			"default": "for"
          },
          {
            "id": "en_bts_line5",
            "type": "text",
            "label": "EN Line5",
			"default": "BACK TO"
          },
          {
            "id": "en_bts_line6",
            "type": "text",
            "label": "EN Line6",
			"default": "SCHOOL"
          },
		  {
            "id": "fr_bts_line1",
            "type": "text",
            "label": "FR Line1",
			"default": "SUPER"
          },
          {
            "id": "fr_bts_line2",
            "type": "text",
            "label": "FR Line2",
			"default": "AFFAIRES"
          },
          {
            "id": "fr_bts_line3",
            "type": "text",
            "label": "FR Line3",
			"default": "pour la"
          },
          {
            "id": "fr_bts_line4",
            "type": "text",
            "label": "FR Line4"
          },
          {
            "id": "fr_bts_line5",
            "type": "text",
            "label": "FR Line5",
			"default": "RENTRÉE"
          },
          {
            "id": "fr_bts_line6",
            "type": "text",
            "label": "FR Line6",
			"default": "SCOLAIRE"
          }
		]
      },
	  {        
		"type": "VIP",
        "name": "VIP Sale",
        "settings": [
          {
            "id": "vip",
            "type": "text",
            "label": "Insert text here"
          }
		]
      }
    ],
    "presets": [
      {
        "name": "Promo Header",
        "category": "Promo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
