<div class="promo-version1-container">
  <div class="promo-version1">
    {% if request.locale.name == "English" %}
       <h1>English - {{section.block.settings.background_color }}</h1>
    	<h1>{{section.block.settings.background_image | img_url: "master"}}</h1>
        {% for block in section.blocks %}
          {{block.settings.en_bts_line1}}
      	{% endfor %}
    {% else %}
       <h1>French{{section.block.settings.fr_bts_line1}}</h1>

    {% endif %}
  </div>
</div>
<!-- section.settings.background_image -->

<style>
  .promo-version1-container {
	height: 40rem;
	background-color: {{section.blocks[0].settings.background_color}};
    {% if section.block.settings.background_image %}
    	background-image: url({{section.block.settings.background_image | img_url: "master"}});
    {% else %}

    {% endif %}
	background-size: cover;
	background-position: center;
  }
/*   var(--color-foreground) */
</style>

<script>

console.log( {{section.blocks}});

</script>


{% schema %}
  {
    "name": "Promo1",
    "settings": [
      {
        "id": "background_image",
        "type": "image_picker",
        "label": "Pick a background image"
      },
      {
        "id": "background_color",
        "type": "color",
        "label": "Pick a background color",
        "default": "#135c81"
      },
      {
        "id": "promo_price",
        "type": "text",
        "label": "Price",
        "default": "0"
      },
      {
        "id": "promo_price_size",
        "type": "text",
        "label": "Price Font Size",
        "default": "0"
      },
      {
        "id": "promo_offer",
        "type": "text",
        "label": "Offer",
        "default": "with 24-month financing plus an eligible rate plan"
      },
      {
        "id": "promo_offer_size",
        "type": "text",
        "label": "Offer Font Size",
        "default": "0"
      },
      {
        "id": "promo_cta",
        "type": "text",
        "label": "CTA",
        "default": "FIND OUT MORE"
      },
      {
        "id": "promo_cta_size",
        "type": "text",
        "label": "CTA Font Size",
        "default": "0"
      }
    ],
    "presets": [
      {
        "name": "Promo 1",
        "category": "Promo"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
